#jinja2: trim_blocks:False
{%- if not etcd_settings['discovery-srv'] %}
{%- macro cluster_hosts() -%}
{%- for host in groups[etcd_ansible_group] -%}
  {%- set interface = hostvars[host]["ansible_" + etcd_interface] if hostvars[host]["ansible_" + etcd_interface] is defined else None %}
  {%- if interface is not none %}
    {%- if interface.ipv4 is defined and interface.ipv6 is defined %}
      {%- if etcd_ip_family == 'ipv4' %}
        {{hostvars[host]['ansible_hostname']}}={{ 'https://' + interface.ipv4[0].address | ansible.utils.ipwrap + ':' + etcd_peer_port }}{% if not loop.last %},{% endif %}
      {%- else %}
        {{hostvars[host]['ansible_hostname']}}={{ 'https://' + interface.ipv6[0].address | ansible.utils.ipwrap + ':' + etcd_peer_port }}{% if not loop.last %},{% endif %}
      {%- endif %}
    {%- elif interface.ipv4 is defined %}
      {{hostvars[host]['ansible_hostname']}}={{ 'https://' + interface.ipv4[0].address + ':' + etcd_peer_port }}{% if not loop.last %},{% endif %}
    {%- elif interface.ipv6 is defined %}
      {{hostvars[host]['ansible_hostname']}}={{ 'https://' + interface.ipv6[0].address | ansible.utils.ipwrap + ':' + etcd_peer_port }}{% if not loop.last %},{% endif %}
    {%- endif %}
  {%- endif %}
{%- endfor -%} 
{%- endmacro -%}
{%- set initial_cluster = cluster_hosts() -%}
{%- set x=etcd_settings.__setitem__('initial-cluster', initial_cluster) -%}
{%- set x=etcd_settings.__delitem__('discovery-srv') -%}
{%- endif %}
[Unit]
Description=etcd
Documentation=https://github.com/etcd-io/etcd/

[Service]
{% if etcd_allow_unsupported_archs %}
Environment=ETCD_UNSUPPORTED_ARCH={{etcd_architecture}}
{% endif %}
ExecStart={{etcd_bin_dir}}/etcd \
  --advertise-client-urls="{{ etcd_settings['advertise-client-urls'] }}" \
  --initial-advertise-peer-urls="{{ etcd_settings['initial-advertise-peer-urls'] }}" \
  --initial-cluster="{{ etcd_settings['initial-cluster'] | replace('\n', '') }}" \
  --listen-client-urls="{{ etcd_settings['listen-client-urls'] }}" \
  --listen-peer-urls="{{ etcd_settings['listen-peer-urls'] }}" \
Restart=on-failure
RestartSec=5
Type=notify

[Install]
WantedBy=multi-user.target
